<div id="welcome-container" class="bg-image-container">
	<div class=" bg-white h-[40%] w-[40%] ">
	<a class="btn p-2" href="/auth/student-login">Student Login</a>
	<a class="btn" href="/auth/admin-login">Admin Login</a>
</div>
</div>